<tr>
        <td><%= actuator.name %></td>
        <td><%= actuator.capbility %></td>
        <td><%= link_to 'Show', actuator %></td>
        <td><%= link_to 'Edit', edit_actuator_path(actuator) %></td>
        <td><%= link_to 'Destroy', actuator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

